@page
@model RecipeApp.Pages.Recipe.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<form>
    <p>
        Title: <input type="text" asp-for="SearchString"/>
        <input type="submit" value="Filter"/>
    </p>
</form>
<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Cuisine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].DifficultyLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].PreparationTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].CookingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipe[0].Servings)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.Recipe[0].UserId)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipe) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cuisine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DifficultyLevel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PreparationTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CookingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servings)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>*@
            <td>
                @if (item.UserId != Model.userId)
                {
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                }
                else
                {
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a>
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                }
            
            </td>
        </tr>
}
    </tbody>
</table>
